<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Questions that require approval</title>
</head>
<body>
	<h1>List of not approved questions in the database</h1>


	<div th:each="question :  ${allNotApprovedQuestions}">
		<p th:text="${question.questionText}"></p>
		<p th:text="${question.approved}"></p>
		<ul th:each="answer: ${question.answers}">
			<li th:text="${answer.answerText}"></li>
		</ul>
		<p><a th:href="@{'ApproveQuestion/' + ${question.questionId} }">Approve this question</a>
	</div>


	

</body>
</html>