<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Questions that require approval</title>
</head>
<body>
	<div class="container">
		<div th:insert="fragments/menu.html"></div>
		<div>
			<h1 class="header">List questions requiring approval</h1>
		</div>

		<div th:each="question :  ${allNotApprovedQuestions}" class="div-table">
			<p th:text="${question.questionText}"></p>
			<p th:text=" 'The trainee has marked the correct answer as ' + ${question.correctAnswer}"></p>
			<ul th:each="answer: ${question.answers}">
				<li th:text="${answer.answerText}"></li>
			</ul>
			<p>
				<a th:href="@{'ApproveQuestionSubmit/' + ${question.questionId} }" >Approve
					this question
					</a>
		</div>


	</div>

</body>
</html>