<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Approve question</title>
</head>
<body>

	<div class="container">
		<div th:insert="fragments/menu.html"></div>
		<div>
			<h1>Approve this question</h1>
		</div>

		<form action="#" th:action="@{/ApproveQuestionSubmit}"
			th:object="${question}" method="post">

			<div>
				<label th:if="${questionText} == null"
					th:text=" ' Question text'" /></label> 
					<input type="text"
					th:field="*{questionText}" />
			</div>

			<div>
				<label th:text=" 'Trainee has given the following options for this question ' "></label>
			</div>


			<div th:each="answer, answerIndex: *{answers}">
				<input th:field="*{answers[__${answerIndex.index}__].answerText}"
					th:value="${answer.getAnswerId()}" readonly /> <input type="hidden"
					th:name="|answers[${answerIndex.index}].answerId|"
					th:value="${answer.getAnswerId()}" />
			</div>


			<div>
				<label th:if="${correctAnswer} == null"
					th:text="'The trainee has set the following option for this question'"  /></label> <input
					id="correctAnswer" name="correctAnswer"
					th:value="${question.correctAnswer}"
					th:selected="${question.correctAnswer}" readOnly >
			</div>

			<div>
				<label>select relevant tags</label> <select id="tagId" multiple
					name="tags" th:selected="${question.tags}">
					<option th:each="tag : ${allTags}" th:value="${tag.tagId}"
						th:text="${tag.name}"></option>
				</select>
			</div>

			<div>
				<button type="submit">Approve Question</button>
			</div>

			<input type="hidden" th:field="*{questionId}" value="${questionId}" />
		</form>
	</div>
</body>
</html>